@import "./base";
@import "./variables";

.container {
  nav {
    @include flexDefault(row);
    justify-content: space-between;
    background-color: $darkOrange;
    padding: 2rem;

    img {
      filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.3));
      &:hover {
        cursor: pointer;
        filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.25));
      }
    }

    h1 {
      color: white;
    }

    h5 {
      color: $beige;
      font-weight: normal;
      filter: drop-shadow(1px 1px 1px hsla(0, 0%, 0%, 0.3));

      &:hover {
        filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.25));
        cursor: pointer;
      }
    }
  }
  .filter-list {
    h3 {
      color: $darkOrange;
    }

    ul,
    h3 {
      padding: 2rem;
    }

    li {
      color: $darkBlue;
      list-style: none;
      margin: 1rem auto;
    }

    input[type="checkbox"] {
      margin-right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    header {
      border-bottom: 1px solid $lightOrange;
      padding: 0;
    }

    .diet-header,
    .int-header {
      border-top: 1px solid $lightOrange;
    }
  }
}
