@import "./base";
@import "./variables";

body {
  background-color: white;
}

.container {
  @include flexDefault(column);
  height: 100vh;
  max-width: 70%;
  margin: auto;

  img {
    display: none;
  }

  .form-container {
    display: flex;
    @include flexDefault(column);
    width: 100%;
    .nav-link {
      margin-top: 3rem;
      color: $lightOrange;
      text-decoration: none;
      align-self: end;
    }

    h1 {
      color: $darkBlue;
      text-transform: uppercase;
      font-size: 2.5rem;
    }

    form {
      @include flexDefault(column);
      margin-top: 4rem;

      input {
        border: 1px solid $lightOrange;
        padding: 1.5rem;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
        &::placeholder {
          color: hsla(246, 46%, 37%, 0.5);
          font-size: 1.5rem;
        }
      }
      button {
        margin-top: 2rem;
        border: none;
        background-color: $darkOrange;
        color: white;
        padding: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 1rem;
        filter: $btnShadow;

        &:hover {
          cursor: pointer;
          filter: $btnShadowHover;
        }
      }
    }
  }
}

.redirect {
  height: 100vh;
  @include flexDefault(column);
  justify-content: center;

  .redirect-header {
    color: $darkOrange;
    font-size: clamp(2rem, 2vw, 3rem);
  }
  .redirect-link {
    color: $darkBlue;
    font-size: clamp(1.8rem, 2vw, 2rem);
  }
}

@media (min-width: 1440px) {
  .container {
    @include flexDefault(row);
    max-width: 100%;
    overflow: hidden;
    img {
      display: flex;
      width: 50%;
    }

    .form-container {
      width: 50%;

      .nav-link {
        margin-right: 10rem;
      }
    }
  }
}
